body{
    color: #434455;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
}

*, 
*::before, 
*::after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }
  
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
    }

    .a {
        text-decoration: none;
    } 
    img {
        display: block;
    }


.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}


/* Header  */
.page-header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.logo {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
}

.header-container {
    display: flex;
    align-items: center;

}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.logo-studio-header {
    color: #2e2f42;
}

.page-nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-list {
    display: flex;
    align-items: center;
  
} 

.page-nav .link {
    display: block;
    padding: 24px 0;
    color: #2e2f42;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    list-style: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-nav .link:hover,
.page-nav .link:focus
{
    color: #404bbf;
    font-weight: 400;
}
 
.link.studio {
    position: relative;
    color: #404bbf; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio::after {
     border-radius: 2px;
     height: 4px;
     background-color: #404BBF;
     content: "";
     position: absolute;
     width: 100%;
     bottom: -1px;
     left: 0; 
     
}  

.address {
    font-style: normal;
    margin-left: auto;
}

.address .link{
    display: block;
    padding: 24px 0;
    color: #434455;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    letter-spacing: 0.02em;
    list-style: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-links{
    display: flex;
    align-items: center;
    gap: 40px;
}

.address .link:focus,
.address .link:hover
{
    color: #404BBF;
}


/* Hero Section  */

.section {
    padding: 120px 0;

}

.site-title {
    font-size: 56px;
    text-align: center;
    line-height: 60px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
   
}
.second-title {
    font-size: 36px;
    text-align: center;
    line-height: 40px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.thirt-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.text {
    font-size: 16px;
    line-height: 1.5;
    line-height: 24px;
    letter-spacing: 0.02em;
}


.button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15); 
    display: block;
    margin: 0 auto;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}


.title {
    background-color: #2e2f42;
    background-image: linear-gradient(to bottom,
     rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7)), 
    url(../images/people-office.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: cover, cover;           
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    padding: 188px 0; 
    max-width: 1440px;
}


/* Section About Us */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
   }

.about-us {
    display: flex;
    align-items: center;
    gap: 24px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    margin-bottom: 8px;
}

.about-us-item {
    width: calc((100% - 72px) / 4);
} 


/* Section Our Team */
.our-team {
    background-color: #F4F4FD;
    list-style: none;
}
.our-team-mentors {
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 428px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #FFFFFF;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-mentors:hover,
.our-team-mentors:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-team-mentors:hover .social-media-box,
.our-team-mentors:focus .social-media-box{
   background-color: #404BBF; 
}

.social-media-box:hover,
.social-media-box:focus {
    background-color: #404bbf;
}
.our-mentors {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
}

.name-post {
    padding: 32px 16px 32px 16px;
    text-align: center;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    padding: 32px 0;
}
.social-media-box {
    height: 100%;
    width: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.social-media-element {
    height: 40px; 
    width: 40px;
}
.svg-social {
    fill: #f4f4fd;
    width: 24px;
    height: 24px;
}


/* Section Our Portfolio */
.our-portfolio {
    display: flex;
    align-items: center;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}
.projects {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.overlay {
    position: relative;
    overflow: hidden;
    width: 360px;
    height: 300px;
}

.projects:hover,
.projects:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.projects:hover .overlay-text,
.projects:focus .overlay-text
{
 transform: translateY(0%);
 transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
 
}

.overlay-text {
    position: absolute;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px;
    top: 0;
    left: 0;
    transform: translateY(100%);
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}

.our-projects {
    border-bottom: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
    padding: 32px 16px;
    width: 360px;
    height: 120px;
    border: 1px solid #e7e9fc;
    border-top: none;
}


/* Footer */
.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    padding: 100px 0;
}


.text-footer {
    max-width: 264px;
}

.logo-studio-footer {
    color: #F4F4FD;
    display: inline-block;
  
}

.footer-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-elements {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;

}
 .footer-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: baseline;
}

.social-media-footer {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.social-media-footer:hover,
.social-media-footer:focus {
    background-color: #31D0AA;
    gap: 16px;
}

.icons-footer {
    gap: 16px;
}

.input-in-footer {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    color: white;
    padding-left: 16px;
    line-height: 2;
    letter-spacing: 0.04em;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }

.input-in-footer::placeholder {
    font-family: "Roboto", sans-serif;   
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.input-in-footer:focus {
    border: 1px solid #4D5AE5;
 }

.button-in-footer {
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px; 
    height: 40px;
    background-color: #4D5AE5;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center; 
    /* gap: 16px; */
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button-in-footer:hover,
.button-in-footer:focus {
    background-color: #404BBF;
}

.subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

}

.footer-block:first-child {
    margin-right: 120px;
}
.footer-block:last-child {
    margin-left: 80px;
}

.icon-airplane {
 fill: #FFFFFF;
 margin-left: 16px;
}



/* modal window */

.modal-overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.4);
z-index: 999;
opacity: 0;
pointer-events: none;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: absolute;
    background-color: #FCFCFC;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color:  #8e8f99;
    font-family: "Roboto", sans-serif;
    margin-bottom: 4px;
    display: block;
}


.input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    background-color: transparent; 
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-input-wrapper {
    margin-bottom: 8px;
    position: relative;
}

 .popup-input-wrapper:has(input:focus) .popup-icon {
    fill: #4D5AE5;
 }

 .input:focus {
    border: 1px solid #4D5AE5;
 }

.popup-icon {
    fill: #2E2F42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.popup-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    /* margin-bottom: 16px; */
    resize: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    padding-left: 16px;
    padding-top: 8px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.popup-textarea:focus {
    border: 1px solid #4D5AE5;
    outline: none;
}

.popup-textarea:placeholder-shown {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding-left: 16px;
    padding-top: 8px;
}

.popup-textarea:focus::placeholder {
    color: #4D5AE5;
}

.checkbox {
    margin-bottom: 24px;
}

.form-label-in-checkbox {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color:  #8e8f99;
    font-family: "Roboto", sans-serif;
    margin-bottom: 24px;
}

.form-checkmark {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    background-color:#FFFFFF;
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center; 
    transition: 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    fill: transparent;
}

.form-input:checked + .form-label-in-checkbox .form-checkmark {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}


.checkbox label {
    margin-bottom: 0;
    gap: 8px;
}

.privacy-policy {
    color: #4d5ae5;
}

.svg-checkbox {
    fill: #FFFFFF;
}

.popup-close {
    position: absolute;
    right: 24px;
    top: 24px;
    height: 24px; 
    width: 24px;
    outline: none; 
    border-radius: 50%;
    background-color: #e7e9fc;;
    stroke-width: 1px;
    display: flex;
    align-items: center;
    justify-content: center; 
    border: none;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-in-modal {
    margin-bottom: 8px;
}

.form-for-comment {
    margin-bottom: 16px;
}

.popup {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
}

.popup-close:hover,
.popup-close:focus {
    background-color: #404BBF;
    border: none;
}

.popup-close:hover .svg-close,
.popup-close:focus .svg-close {
    fill: #FFFFFF;
    
}

/* modal window */


